@font-face {
	font-family: "corbel";
	src: url("../fonts/corbel.woff2") format("woff2"),
		url("../fonts/corbel.woff") format("woff");
	font-weight: normal;
	font-style: normal;
}

:root {
	--max-page-width: 600px;
	--paragraph-color: #ccd3f2;
	--color-page-bg: #2e2a2a;
	--color-heading: #fff;
	--color-button-close: #3b2855;
	--color-button-open: #4b3669;
	--color-button-text: #fff;
	--color-line: #787676;
	--color-icon: #4da67d;
	--color-link: #51b3e4;
	--color-link-hover: #4a8aaa;
	font-size: 18px;
}

*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html {
	font-family: "open sans", Helvetica, Arial, sans-serif;
	font-weight: 400;
	font-size: 14px;
	margin: 0;
	padding: 0;
}

body {
	scroll-behavior: smooth;
	text-rendering: optimizeSpeed;
	line-height: 1.5;
	color: var(--paragraph-color);
	background-color: var(--color-page-bg);
}

img {
	display: block;
}

body {
	width: 100%;
	padding: 2em;
	display: flex;
	flex-direction: column;
	align-items: center;
}

h1 {
	font-family: "corbel";
	font-size: 2em;
	margin-bottom: 1.2em;
	color: var(--color-heading);
}

a,
a:visited {
	color: var(--color-link);
	text-decoration: none;
}
a:hover {
	color: var(--color-link-hover);
}

i {
	color: var(--color-icon);
}
header p {
	margin-bottom: 1.2em;
}

.presentation {
	max-width: var(--max-page-width);
	background-color: var(--color-page-bg);
}

/* Style the buttons that are used to open and close the accordion panel */
.accordion {
	background-color: var(--color-button-close);
	color: var(--color-button-text);
	font-size: 0.8em;
	cursor: pointer;
	padding: 18px;
	width: 100%;
	text-align: left;
	border: none;
	outline: none;
	transition: 0.4s;
	letter-spacing: 0.1em;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active,
.accordion:hover,
.accordion:focus,
.accordion:focus-visible {
	background-color: var(--color-button-open);
}

/* Style the accordion panel. Note: hidden by default */
.panel {
	padding: 0 1em;
	background-color: var(--color-page-bg);
	max-height: 0;
	overflow: hidden;
	transition: max-height 0.2s ease-out;
}

.accordion:after {
	/* content: "\02795"; Unicode character for "plus" sign (+) */
	content: "\2b";
	font-size: 1.2em;
	color: var(--paragraph-color);
	float: right;
	margin-left: 5px;
}

.active:after {
	/* content: "\2796"; Unicode character for "minus" sign (-) */
	content: "\f068";
	font-family: "FontAwesome";
	color: var(--paragraph-color);
}

button:first-of-type {
	margin-top: 2em;
}

#science-list {
	/* max-width: 100%; */
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: 0 auto;
}

.card {
	width: 100%;
	display: flex;
	flex-direction: column;
	/* padding: 1em 2em; */
	margin: 1em 2em;
}

.line {
	display: flex;
	justify-content: space-between;
	border-bottom: 2px solid var(--color-line);
}

.item,
.value {
	margin: 0;
	padding: 0;
	margin-bottom: 0.6em;
	margin-top: 0.8em;
	font-size: 0.8em;
	max-width: 50%;
	min-height: max-content;
}
.item {
	margin-right: 2em;
}

.card div i {
	font-size: 1.4em;
	margin-right: 1em;
}
.value p {
	padding-left: 1em;
	padding-top: 0.2em;
	padding-bottom: 0.5em;
	border-bottom: 1px solid var(--color-line);
}

.value > p:only-child {
	border: none;
}

#myBtn {
	display: none; /* Hidden by default */
	position: fixed; /* Fixed/sticky position */
	bottom: 20px; /* Place the button at the bottom of the page */
	right: 30px; /* Place the button 30px from the right */
	z-index: 99; /* Make sure it does not overlap */
	border: none; /* Remove borders */
	outline: none; /* Remove outline */
	background-color: rgb(49, 48, 48); /* Set a background color */
	color: white; /* Text color */
	cursor: pointer; /* Add a mouse pointer on hover */
	padding: 0.8em; /* Some padding */
	border-radius: 0.3em; /* Rounded corners */
	font-size: 1em; /* Increase font size */
}

#myBtn:hover {
	background-color: #555; /* Add a dark-grey background on hover */
}
